<html>
<head>
    <script src="/static/stuManager.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/stuManager.css" />
</head>
<body>
<ul>
{% for stu in result_list %}
<div>
    <div id="{{ stu['id'] }}" class="stu_li_div">
        <div class="stuinfo_div">学号:{{ stu['id'] }} , 姓名:{{ stu['name'] }}</div>
        <button class="operate_stu_btn" type="button" onclick="delStu({{stu['id']}})">删除</button>
        <button class="operate_stu_btn" type="button" onclick="">详情</button>
        <button class="operate_stu_btn" type="button" onclick="">编辑组</button>
    </div>
</div>
{% endfor %}
</ul>
</body>
</html>